/* Center
___________________________________________*/
/* Color
___________________________________________*/
/* Size
___________________________________________*/
/* Modal
___________________________________________*/
/* Font Size
___________________________________________*/
*,
::before ::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0%;
}

p {
  margin: 0% 0% 0% 0%;
}

body {
  margin: 0;
  background: -webkit-gradient(linear, left top, right top, from(#cb11ab), to(#481173));
  background: linear-gradient(90deg, #cb11ab, #481173);
}
body.__lock {
  overflow: hidden;
}

a,
a:hover,
a:visited,
a:active {
  text-decoration: none;
  cursor: pointer;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

ul, li {
  padding: 0;
  margin: 0;
  list-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*! Container
/*!_________________________________________________________________*/
.container {
  width: 100%;
  max-width: 1400px;
  margin: 0% auto;
}

/*! Header
/*!_________________________________________________________________*/
/*! Btn
/*!_________________________________________________________________*/
.btn {
  border: 2px solid #cb11ab;
  height: 50px;
  font-size: 16px;
  border-radius: 10px;
  padding: 15px;
  color: #cb11ab;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.btn:hover {
  border: 1.5px solid #cb11ab;
}

/*! Overlay
/*!_________________________________________________________________*/
.overlay {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100vh;
  position: fixed;
  visibility: hidden;
  top: 0;
}

/*! Modal
/*!_________________________________________________________________*/
.modal-text {
  color: black;
}

/*! Cards text
/*!_________________________________________________________________*/
.cards-text {
  color: black;
}

/*! Arrow Top
/*!_________________________________________________________________*/
.arrow_top {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: rgb(153, 9, 129);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  left: 5%;
  bottom: 70%;
  color: #fff;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
}
.arrow_top.active {
  visibility: visible;
  opacity: 1;
  bottom: 15%;
}
.arrow_top:hover {
  background: rgba(153, 9, 129, 0.8);
}

/* Center
___________________________________________*/
/* Color
___________________________________________*/
/* Size
___________________________________________*/
/* Modal
___________________________________________*/
/* Font Size
___________________________________________*/
/*! Header
/*!_________________________________________________________________*/
#delivery {
  display: none;
}

.s-header {
  padding: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 60px;
}
.s-header__burger-wrapper {
  border: 2px solid rgba(255, 255, 255, 0.3);
  border-radius: 25%;
  padding: 5px;
  width: 35px;
  height: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: rgba(255, 255, 255, 0.6);
  font-size: 35px;
  text-align: center;
  cursor: pointer;
}
.s-header__burger-wrapper:hover {
  border: 2px solid rgb(255, 255, 255);
}
.s-header__burger-wrapper:hover {
  color: rgb(255, 255, 255);
}
.s-header__logo-text-wrapper {
  font-size: 35px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
}
.s-header__form {
  border: 2px solid rgba(255, 255, 255, 0.3);
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 55%;
}
.s-header__form:hover {
  background: rgba(255, 255, 255, 0.6);
  border: 2px solid rgba(255, 255, 255, 0.6);
}
.s-header__form__search-btn {
  color: #fff;
}
.s-header__form__search-inp {
  height: 50px;
  background-color: transparent;
  border: none;
  color: #fff;
  padding: 0 10px 0 20px;
  width: 95%;
}
.s-header__form__search-inp:focus {
  outline: none;
}
.s-header__form__search-inp::-webkit-input-placeholder {
  color: white;
}
.s-header__form__search-inp::-moz-placeholder {
  color: white;
}
.s-header__form__search-inp:-ms-input-placeholder {
  color: white;
}
.s-header__form__search-inp::-ms-input-placeholder {
  color: white;
}
.s-header__form__search-inp::placeholder {
  color: white;
}
.s-header__nav-item-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  font-size: 35px;
  color: rgba(255, 255, 255, 0.3);
}
.s-header__nav-item-wrapper:hover {
  color: rgb(255, 255, 255);
}
.s-header__nav-item-wrapper__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
}
.s-header__nav-item-wrapper__item:not(:last-child) {
  margin-right: 15px;
}

.s-header__nav-item-wrapper__item__icon-wrapper__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 18px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: rgba(255, 255, 255, 0.3);
}
.s-header__nav-item-wrapper__item__icon-wrapper__text:hover {
  color: rgb(255, 255, 255);
}
.s-header__nav-item-wrapper__item__icon-wrapper__text .nav_icons {
  font-size: 28px;
}

/* Center
___________________________________________*/
/* Color
___________________________________________*/
/* Size
___________________________________________*/
/* Modal
___________________________________________*/
/* Font Size
___________________________________________*/
.main {
  border: 1px solid white;
  border-radius: 24px;
  background-color: white;
}

.fa-star {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* Slider
___________________________________________*/
.s-slider {
  margin: 15px 0;
}
.s-slider__slider {
  border: #cb11ab solid 1px;
  max-width: 80%;
  overflow: hidden;
  position: relative;
  left: 10%;
}
.s-slider__slider__line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all ease 1s;
  transition: all ease 1s;
}

.slider_btn {
  width: 5%;
  height: 100%;
  border: none;
  position: absolute;
  background: #fff;
  opacity: 0.5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slider_btn:hover {
  background: #cb11ab;
  opacity: 0.9;
  -webkit-transition: linear 0.5s;
  transition: linear 0.5s;
}

.slider_btn_prev {
  bottom: 0;
  left: 0;
  cursor: pointer;
}

.slider_btn_next {
  bottom: 0;
  right: 0;
  cursor: pointer;
}

.slider_btn_text {
  font-size: 50px;
  font-weight: 900;
  color: #cb11ab;
}

.slider_btn_prev:hover #slider_arrow__left {
  color: #e8ecee;
}

.slider_btn_next:hover #slider_arrow__right {
  color: #e8ecee;
}

#slider_arrow__left,
#slider_next {
  font-size: 45px;
  color: #cb11ab;
}

/* Cards
___________________________________________*/
.s-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
.s-cards__item-wrapper {
  width: 90%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 10px 1fr 10px 1fr 10px 1fr 10px 1fr;
  grid-template-columns: repeat(5, 1fr);
  height: 800px;
  overflow: hidden;
  row-gap: 10px;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
  -webkit-transition: all 1s;
  transition: all 1s;
}
.s-cards__item-wrapper__item {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 400px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.s-cards__item-wrapper__item-img {
  width: 100%;
  height: 60%;
  margin-bottom: 1%;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: pointer;
}
.s-cards__item-wrapper__item__wrapper-text {
  width: 100%;
  text-align: start;
}
.s-cards__item-wrapper__item__wrapper-text__price {
  font-size: 25px;
  font-weight: 700;
  cursor: pointer;
}
.s-cards__item-wrapper__item__wrapper-text__price:hover {
  color: #cb11ab;
}
.s-cards__item-wrapper__item__wrapper-text__delivery-time {
  text-align: start;
}
.s-cards__item-wrapper__item__wrapper-text__icon-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 5px auto;
  font-size: 14px;
}
.s-cards__item-wrapper__item__wrapper-text__icon-wrapper:hover > i {
  color: yellow;
}
.s-cards__item-wrapper__item__btn, .modal-cart-det__desc-wrap__btn {
  color: white;
  background-color: #cb11ab;
  width: 92px;
  height: 32px;
  padding: 0;
}
.s-cards__item-wrapper__item__btn:hover, .modal-cart-det__desc-wrap__btn:hover {
  color: #cb11ab;
  background-color: white;
}
.s-cards__item-wrapper__item__btn.__inCart, .__inCart.modal-cart-det__desc-wrap__btn {
  color: #cb11ab;
  background: lightgray;
  border: none;
}
.s-cards__item-wrapper__active {
  height: 1650px;
}
.s-cards__btn, .modal-s-cart__btn {
  width: 25%;
  color: #cb11ab;
  font-weight: 600;
  margin: 50px 0;
}
.s-cards__btn-show_more {
  margin-right: 1%;
}
.s-cards__btn__icon-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #cb11ab;
}
.s-cards__btn__icon-wrapper__svg {
  width: 15px;
  height: 15px;
  fill: #cb11ab;
}

.hit {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 600;
  font-size: 35px;
  color: #cb11ab;
  margin-bottom: 25px;
}

/* Aside
___________________________________________*/
.aside {
  width: 20%;
  height: 100vh;
  background: #fff;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 2;
  top: 110px;
  visibility: hidden;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
  padding: 20px 0;
}
.aside__content {
  width: 100%;
}
.aside__item {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 15px;
  cursor: pointer;
}
.aside__item:hover {
  background-color: rgba(211, 211, 211, 0.3);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.aside__active {
  visibility: visible;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
.aside__link {
  text-decoration: none;
  color: #000;
}

/* Center
___________________________________________*/
/* Color
___________________________________________*/
/* Size
___________________________________________*/
/* Modal
___________________________________________*/
/* Font Size
___________________________________________*/
.footer {
  padding: 25px 0;
}

.s-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.s-footer__item {
  color: rgb(255, 255, 255);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 25%;
  min-width: 90px;
}
.s-footer__item__row {
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  font-size: 12px;
}
.s-footer__item__row:hover {
  color: rgb(255, 255, 255);
}
.s-footer__item__row-title {
  color: rgb(255, 255, 255);
  cursor: default;
  margin: 10px auto;
  font-size: 16px;
}
.s-footer__item__row-content__text {
  margin: 0 0 10px 0;
}
.s-footer__item__row-content__text i {
  margin: 0 5px 0 0;
}

.footer-adapt {
  display: none;
}

/* Center
___________________________________________*/
/* Color
___________________________________________*/
/* Size
___________________________________________*/
/* Modal
___________________________________________*/
/* Font Size
___________________________________________*/
/*! Modal User
/*!_________________________________________________________________*/
.modal-user {
  width: 30vw;
  height: 25vh;
  position: fixed;
  z-index: 2;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid transparent;
  border-radius: 10px;
}
.modal-user__title, .modal-s-cart__title, .modal-cart-det__desc-wrap__title {
  font-weight: 600;
  font-size: 20px;
}
.modal-user__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 75%;
}
.modal-user__form__input {
  width: 100%;
  margin: 10px 0;
}
.modal-user__form__btn {
  width: 50%;
}

.modal-user {
  display: none;
}

/*! Shoping cart
/*!_________________________________________________________________*/
.modal-s-cart {
  width: 70vw;
  height: 70vh;
  position: fixed;
  z-index: 2;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.modal-s-cart__title, .modal-cart-det__desc-wrap__title {
  font-size: 35px;
  height: 10%;
  padding: 15px 0;
}
.modal-s-cart__content-wrapper {
  width: 100%;
  height: 80%;
}
.modal-s-cart__content-wrapper__row {
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.modal-s-cart__content-wrapper__row:nth-child(2n) {
  background-color: lightgrey;
}
.modal-s-cart__content-wrapper__row__number, .modal-s-cart__content-wrapper__row__del, .modal-s-cart__content-wrapper__row__name {
  width: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 17px;
  font-weight: 600;
}
.modal-s-cart__content-wrapper__row__name {
  width: 80%;
}
.modal-s-cart__btn {
  margin: 15px;
}

.modal-s-cart {
  display: none;
}

/*! Cart Detailed
/*!_________________________________________________________________*/
.modal-cart-det {
  width: 70vw;
  height: 70vh;
  position: fixed;
  z-index: 2;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.modal-cart-det__img-wrap {
  width: 50%;
  height: 100%;
}
.modal-cart-det__img-wrap_img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  height: 100%;
}
.modal-cart-det__desc-wrap {
  width: 50%;
  height: 85%;
  padding: 3%;
}
.modal-cart-det__desc-wrap__price {
  font-size: 25px;
  font-weight: 400;
  margin: 0 0 10px 0;
}
.modal-cart-det__desc-wrap__btn {
  margin-top: 15px;
}
.modal-cart-det__desc-wrap__btn:hover {
  color: #cb11ab;
  background-color: white;
}

.modal-cart-det {
  display: none;
}

/* Center
___________________________________________*/
/* Color
___________________________________________*/
/* Size
___________________________________________*/
/* Modal
___________________________________________*/
/* Font Size
___________________________________________*/
/*! Media
/*!_________________________________________________________________*/
@media (max-width: 1450px) {
  .s-cards__item-wrapper {
    -ms-grid-columns: (1fr)[4];
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (max-width: 1075px) {
  .s-header__logo-text-wrapper {
    display: none;
  }
  .aside {
    width: 40%;
  }
  .slider_btn_text {
    font-size: 30px;
  }
  .s-cards__btn, .modal-s-cart__btn {
    height: 45px;
  }
  #slider_prev {
    display: none;
  }
  #slider_next {
    display: none;
  }
  .hit {
    font-size: 25px;
  }
}
@media (max-width: 795px) {
  .s-cards__item-wrapper {
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
  }
  .s-header__form {
    margin: 0 15px 0 15px;
  }
}
@media (max-width: 610px) {
  .s-cards {
    padding: 0 0 20px 0;
  }
  .s-cards__item-wrapper {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }
  .s-cards__item-wrapper__item__btn, .modal-cart-det__desc-wrap__btn {
    width: 100%;
  }
  .s-cards__btn, .modal-s-cart__btn {
    width: 60%;
  }
  .s-footer,
.footer {
    display: none;
  }
  .main {
    border-radius: 24px 24px 0 0;
  }
  .s-header__nav-item-wrapper {
    display: none;
  }
  .s-header__form {
    width: 100%;
  }
  .footer-adapt {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: -webkit-gradient(linear, left top, right top, from(#cb11ab), to(#481173));
    background: linear-gradient(90deg, #cb11ab, #481173);
    width: 100vw;
    height: 50px;
    position: fixed;
    bottom: 0;
  }
  .footer-adapt__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 10px;
  }
  .footer-adapt__wrap__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 33.3%;
    color: rgba(255, 255, 255, 0.4);
  }
  .footer-adapt__wrap__item:hover {
    color: rgba(255, 255, 255, 0.8);
  }
  .footer-adapt__wrap__item .fa-solid {
    font-size: 25px;
    margin: 0;
  }
}
@media (max-width: 500px) {
  .aside {
    width: 100%;
  }
  .s-cards__item-wrapper__item__wrapper-text {
    text-align: center;
  }
  .s-cards__item-wrapper__item__wrapper-text__delivery-time {
    text-align: center;
  }
  .s-cards__item-wrapper__item__wrapper-text__icon-wrapper {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (max-width: 475px) {
  .s-cards__item-wrapper {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .s-header {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .s-header__form {
    width: 60%;
  }
}