@import "variables.scss";

/*! Media
/*!_________________________________________________________________*/
@media (max-width: 1450px){
    .s-cards__item-wrapper__item{width: 21%; margin: 0 20px;
        &:not(:nth-child(4n+4)){margin-right: 20px;}
    }
    .s-cards__item-wrapper__item__wrapper-text__svg-wrapper{
        &__svg{width: $SizeSvgRate1450; height: $SizeSvgRate1450;}
        &__rate{width: $SizeSvgRate1450; height: $SizeSvgRate1450; font-size: $SizeSvgRate1450;}
    }
}
@media (max-width: 1075px){
    /*Header*/
    .s-header__logo-text-wrapper{display: none;}
    /*Slider*/
    .slider_btn_text{font-size: 30px;}
    /*Cards*/
    .s-cards__btn{height: 45px;}
}
@media (max-width: 630px){
    /*Header*/
    .s-header__form{margin: 0 15px 0 15px;}
    /*Cards*/
    .s-cards__item-wrapper__item{width: 40%; margin: 0 15px;
        &:not(:nth-child(4n+4)){margin-right: 15px;}
    }
}
@media (max-width: 610px){
    .s-cards__btn{width: 60%;}
    /*Footer*/
    .s-footer{display: flex; flex-wrap: wrap;
        &__item{width: 50%; margin-bottom: 5%;}
    }
}
@media (max-width: 500px){
    /*Cards*/
    .s-cards__item-wrapper__item{width: 90%; margin: 0 10px;
        &:not(:nth-child(4n+4)){margin-right: 10px;}
    }
}
@media (max-width: 450px){
    .s-header{flex-wrap: wrap;}
    .s-header__form{width: 60%;}
    .s-header__nav-item-wrapper{width: 100%; display: flex;
        &__item{width: 25%; margin: 0 0 0 auto;
            &:not(:last-child){margin: 0 0 0 auto;}
        }
    }
}